@import "./variables.scss";

$pd_card: 2em;
$wd_image: 5.25em;

.CardNaver {
  padding: $pd_card $pd_card/4 $pd_card * 3;
  cursor: pointer;
  position: relative;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  background-color: $bg_white;
  border-radius: 1.25em;
  &:hover > .content .top .ellipsis {
    opacity: 1;
  }
  .image {
    margin: auto;
    overflow: hidden;
    background-color: red;
    border-radius: 1em;
    width: $wd_image * 2;
    height: 180px;
    object-fit: cover;
  }
  .content {
    width: 100%;
    padding: 1.25em;
    position: absolute;
    bottom: 0;

    z-index: 1;
    .top {
      padding-top: 2em;
      display: flex;
      justify-content: space-between;
      .orange {
        font-size: 0.75em;
        color: $tx_orange;
      }
      .ellipsis {
        font-size: 0.75em;
        padding: 0.25em 0.5em;
        color: $tx_black;
        opacity: 0;
      }
    }
    .title {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1em;
      font-weight: 600;
      color: $tx_black;
    }
    .episode,
    .genre {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $tx_grey;
      font-size: 0.75em;
    }
  }
}
