$max_width: 1024px;

$bg_white: #fbfbfd;
$bg_lightgrey: #f5f5f7;
$bg_grey: #313132;
$bg_blue: #0071e3;
$bg_red: #eb0026;
$bg_pink: #f73558;

$tx_black: #1d1d1f;
$tx_white: #f5f5f7;
$tx_grey: #86838d;
$tx_blue: #2997ff;
$tx_orange: #bf4800;

//nav
$nav_height: 44px;
$nav_bg_black: #000000cc;
$nav_tx_white: #fff;
$animation_speed: 300ms;
