$max_width: 1024px;

$bg_white: #fbfbfd;
$bg_lightgrey: #f5f5f7;
$bg_grey: #313132;

$tx_black: #1d1d1f;
$tx_white: #f5f5f7;

//nav
$nav_height: 44px;
$nav_bg_black: #000000cc;
$nav_tx_white: #fff;
$animation_speed: 300ms;
$tx_blue: #2997ff;
